@mixin icons {
    content: '';
    display: inline-block;
    height: 28px;
    margin: 0 11px;
    background-repeat: no-repeat;
    background-position: bottom;
}


.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px #6584c7;
    .temperature {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 350px;
        line-height: 1;
        color: $color1;
        margin-bottom: 50px;

        &::after {
            position: absolute;
            top: 37px;
            right: -50px;
            content: '';
            display: inline-block;
            width: 37px;
            height: 37px;
            border: solid 5px $color1;
            border-radius: 50%;
        }
    }

    .meta-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & p {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    .meta span {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        font-size: 32px;
        color: $color1;
        margin-bottom: 10px;
        width: 200px;
        text-align: center;
    }

    .rainy::before {
        width: 30px;
        @include icons;
        background-image: url('./assets/windy.svg');
        background-size: 100%;
    }

    .humidity::before {
        width: 26px;
        @include icons;
        background-image: url('./assets/humidity.png');
    }
    .sunset::before {
        width: 30px;
        @include icons;
        background-image: url('./assets/sunset.svg');
        background-size: 100%;
        background-position: center;
    }
    .sunrise::before {
        width: 30px;
        @include icons;
        background-image: url('./assets/sunrise.svg');
        background-size: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .current-weather {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .temperature {
            font-size: 212px;
            margin-bottom: 40px;

            &::after {
                top: 20px;
                right: -20px;
                width: 20px;
                height: 20px;
                border: solid 3px $color1;
            }
        }

        .meta span {
            font-size: 24px;
            font-weight: 300;
        }
    }
}

@media screen and (max-width: 768px) {
    .current-weather {
        margin-bottom: 50px;

        .temperature {
            font-size: 102px;
            margin-bottom: 40px;

            &::after {
                top: 10px;
                right: -10px;
                width: 10px;
                height: 10px;
                border: solid 3px $color1;
            }
        }

        .meta span {
            font-size: 24px;
            font-weight: 300;
        }
    }
}
