

.filter {
    position: absolute;
    top: 210px;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px 1px #6584c7;
}

.filter .custom-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
    font-size: 20px;
}

.filter .custom-input label {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: $color1;
    margin-bottom: 20px;
}

.filter .custom-input input {
    border-bottom: solid 1px $color1;
    border-top: none;
    border-right: none;
    border-left: none;
    background: transparent;
    width: 150px;
    outline: none;
    color: $color1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.filter button {
    background-color: $color5;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: $color1;
    text-transform: uppercase;
    box-shadow: 1.5px 1.5px 1.5px #FFFFFF;
}

.filter button:hover {
    cursor: pointer;
    background-color: $color3;
    box-shadow: -2px -2px 1px #FFFFFF;
}

.filter button:disabled {
    opacity: 0.5;
}

.filter button:disabled:hover {
    cursor: not-allowed;
    background-color: $color3;
}

.filter input:disabled:hover {
    cursor: not-allowed;
}

.filter-btn {
    display: none;
}

@media screen and (max-width: 975px) {
    .filter-btn {
        margin: 20px 0 0 auto;
        background: transparent;
        border: unset;
        display: block;
        position: relative;
        z-index: 9999;
    }

    .filter {
        position: relative;
        background-size: cover;
        width: calc(100% - 20px);
        z-index: 999;
        top: inherit;
        right: inherit;
        align-items: center;
    }
}
